.DS_Store
.vs/
.idea/
Thumbs.db
*.js.map
*.lock.json
*.xproj.user
*.csproj.user
node_modules/
/dist/
/src/lib
/src/bin
/src/obj
/src/Properties
/src/background/*.js
/src/css/*.css
!/src/css/tmetricicons.css
/src/in-page-scripts/**/*.js
/src/safari/**/*.js
/src/safari/**/*.css
/src/permissions/*.js
/src/permissions/*.css
/src/popup/*.js
/src/popup/*.css
/src/settings/*.js
/src/*background-bundle.js
/src/browser.js
