.vs/
src/node_modules/
dist/
*.js.map
*.lock.json
*.xproj.user
src/in-page-scripts/**/*.js
src/extension-base/*.js
src/chrome/*.js
src/firefox/*.js
src/test/webdriverio/errorShots/
src/css/*.css
src/test/webdriverio/logins.conf.js
src/test/webdriverio/customCommands.js
src/test/webdriverio/specs/*.js
src/test/webdriverio/reports/*
!src/test/webdriverio/reports/README
src/test/webdriverio/profiles
