.vs/
src/node_modules/
dist/
*.js.map
*.lock.json
src/in-page-scripts/**/*.js
src/extension-base/*.js
src/chrome/*.js
src/firefox/*.js
src/test/webdriverio/errorShots/
src/css/*.css
src/test/webdriverio/logins.conf.js
