@border-style: solid;
@border-color: #aaa;
@border-width: 0.1em;
@color: #444;
@color-light: lighten(@color, 50%);
@margin: 0.5em;
@margin-double: @margin * 2;
@padding: 0.5em;
@padding-double: @padding * 2;
@padding-large: 20px;
@row-margin-top: 25px;

@field-min-height: 2.5em;
@field-line-height: 2.5em;

@field-min-height-viewing: 1.2em;
@field-line-height-viewing: 1.2em;

@border: @border-width @border-style @border-color;

@error-color: #de0101;
@error-background-color: #f2dede;
@error-border-color: #ebccd1;
@warning-color: #8a6d3b;
@warning-background-color: #fffadf;
@warning-border-color: #f3dfb6;
@info-color: #31708f;
@info-background-color: #d9edf7;
@info-border-color: #b9dff2;

//=============================
@font-size-base: 14px;
@font-family: "Open Sans", sans-serif;
@body-width: 460px;
@body-height: 25em;
@background-color: #fff;
@action-margin: 3.5em;
@input-color: @text-color;
@border-raduis: 4px;

//== Forms
@cursor-disabled: default;
@input-color-placeholder: fade(@text-color, 50%);
@dropdown-link-disabled-color: lighten(#000, 73%);

//== Navbar
@navbar-default-color: rgba(255, 255, 255, .5);
@navbar-default-bg: #464646;
@navbar-default-hover-color: rgba(255, 255, 255, .8);
@navbar-default-hover-bg: #393939;
@navbar-default-active-color: rgba(255, 255, 255, 1);
@navbar-default-active-bg: @navbar-default-hover-bg;
@navbar-height: 70px;

//== Colors
@text-color: #525252;
@text-muted: fade(@text-color, 50%);

@accent: #178fe5;
@accent-light: #45a6eb;

@link-color: #3894d6;
@link-hover-color: #147ac2;
@link-disabled-color: lighten(#000, 73%);

//== Typography
@line-height-base: 1.42857;

//== Buttons
@btn-default-color: @text-color;
@btn-default-bg: rgba(0,0,0,0.05);
@btn-default-border: rgba(0,0,0,0.07);

@btn-primary-color: #fff;
@btn-primary-bg: #545454;
@btn-primary-border: @btn-primary-bg;

@btn-success-color: #fff;
@btn-success-bg: #00bc6a;
@btn-success-border: @btn-success-bg;

@btn-danger-color: #fff;
@btn-danger-bg: #e26a6a;
@btn-danger-border: @btn-danger-bg;

@btn-font-weight: 300;

@shadow: 0 2px 3px 0 rgba(47,47,47,.25);

body {
    height: auto;
    min-height: initial;
    margin: auto;
    font-family: @font-family !important;
    font-size: @font-size-base;
    color: @text-color;
    background-color: @background-color;
    overflow: hidden;
}

.container {
    width: @body-width;
}

header {
    margin: 0;
    box-shadow: 0 2px 3px 0 rgba(47,47,47,.25);
}

img {
    vertical-align: middle;
}

input, textarea, select, button {
    font-family: @font-family;
}

input {
    color: @input-color;
    background-color: #fff;
    .placeholder;
}

.project-avatar-image {
    width: 20px;
    height: 20px;
    margin-right: 3px;
}

.tag-icon {
    margin-right: 5px;
}

.tag-without-icon {
    margin-left: 13px;
}

.navbar {
    position: relative;
    display: flex;
    align-items: center;
    padding-left: @padding-double;
    padding-right: @padding-double;
    background-color: @navbar-default-bg;
    color: @navbar-default-color;

    .logo {
        height: @navbar-height;
        line-height: @navbar-height;
        margin-right: auto;
        font-size: 22px;
        color: white !important;

        .logo-text {
            margin-left: 20px;
        }

        a {
            text-decoration: none !important;
        }
    }

    #account-selector {
        .dropdown();
        .dropdown-colors(@navbar-default-bg, @navbar-default-color, @navbar-default-hover-bg, @navbar-default-hover-color, @navbar-default-active-bg, @navbar-default-active-color, lighten(@navbar-default-hover-bg, 10%), inherit);
        display: none;
        height: @navbar-height;
        margin-right: @margin;

        .dropdown-toggle {
            margin: 0;
            border: none;
            padding-left: @margin;
            padding-right: @margin;
        }

        .dropdown-menu {
            left: auto;
            max-width: 200px;
            max-height: 400px;
            box-shadow: @shadow;
        }
    }

    #settings-btn {
        border: none;
        outline: 0;
        padding: 0;
        background: transparent;
        font-size: 24px;
        color: inherit;

        &:hover {
            color: @navbar-default-hover-color;
            cursor: pointer;
        }

        &:active,
        &:focus {
            color: @navbar-default-active-color;
        }
    }
}

.message {
    display: none;
    margin: (2 * @margin-double) 0;
    border: @border;
    border-radius: @border-raduis;
    padding: @padding;
    text-align: center;

    &.error {
        display: block;
        color: @error-color;
        background-color: @error-background-color;
        border-color: @error-border-color;
    }

    &.warning {
        display: block;
        color: @warning-color;
        background-color: @warning-background-color;
        border-color: @warning-border-color;
    }

    &.info {
        display: block;
        color: @info-color;
        background-color: @info-background-color;
        border-color: @info-border-color;
    }

    > * {
        display: block;
        margin: @margin-double 0;
        white-space: pre-wrap;
    }
}

.form-control {
    width: 100% !important;
    height: 34px !important;
    padding: 6px 0 !important;
    background-color: transparent !important;
    border: none !important;
    border-bottom: 1px solid #e0e0e0 !important;
    border-radius: 0 !important;
    transition: border-color ease-in-out .2s !important;
    font-size: @font-size-base !important;
    line-height: 1.42457 !important;
    color: #555 !important;
    display: block !important;
    margin: 0 !important;

    &:focus {
        border-bottom: 2px solid @accent !important;
        outline: 0 !important;
        padding: 6px 0 5px !important;
    }
}

.label {
    margin-right: 5px;
}

.label-default {
    display: inline-block;
    padding: 4px 6px;
    font-size: 11px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    border-radius: 3px;
    text-transform: uppercase;
    letter-spacing: .5px;
    background-color: rgba(0, 0, 0, 0.07);
    color: @text-color;
}

.row {
    margin-top: @row-margin-top;
    word-wrap: break-word;

    > * {
        box-sizing: border-box;
    }

    > *:not(button) {
        width: 100%;
    }

    &.actions {
        margin-top: @action-margin;
        text-align: center;

        & > *:not(:last-child) {
            margin-right: 9px;
        }
    }
}

.row-flex {
    display: inline-flex;
    margin-top: @row-margin-top;
    width: 100%;

    &.title {
        font-size: 22px;
        font-weight: 300;

        > span {
            margin-left: 70px;
        }
    }

    &.task {
        .id {
            color: @accent;
        }
    }

    &.description {
        margin-top: 10px;
    }

    .label {
        font-weight: bold;
        width: 50px;
        text-align: right;
    }

    .span-container {
        margin-left: 14px;
        width: 80%;
    }

    .value, .name, .items {
        width: auto;
        margin: 0;
    }

    #task-link {
        margin-right: 7px;
        text-decoration: none;
        color: @accent;
    }
}

.pull-left {
    float: left !important;
}

.pull-right {
    float: right !important;
}

.bold {
    font-weight: bold !important;
}

.text-muted {
    color: @text-muted;
}

.text-center {
    text-align: center;
}

.text-overflow {
    text-overflow: clip;
    overflow: hidden;
    white-space: nowrap;
}

.clearfix {
    clear: both !important;
}

.hide {
    display: none;
}

#loader {
    text-align: center;
}

// states

content {

    & > * {
        padding-left: @padding-large;
        padding-right: @padding-large;
        padding-bottom: @padding-large;
    }

    #loader {
        display: none;
    }

    #login-form {
        display: none;
    }

    #retry-form {
        display: none;
    }

    #fix-form {
        display: none;
    }

    #view-form {
        display: none;
    }

    #create-form {
        display: none;

        .task-recent {

            &.row-flex {
                align-items: center;
            }

            #recent-task-selector {
                .dropdown();
                margin-right: @margin;

                .dropdown-menu {
                    right: auto;
                    /*max-width: 200px;*/
                    min-width: 200px;
                    max-height: 200px;
                    margin-top: @margin;
                    box-shadow: @shadow;

                    .dropdown-menu-item {
                        display: flex;
                        flex-flow: row nowrap;
                        justify-content: space-between;

                        > *:not(:last-child) {
                            margin-right: @margin;
                        }
                    }
                }
            }
        }

        .new-project {
            display: none;
            margin-top: 8px;
        }

        label {
            margin-top: 5px !important;
        }

        .new-project input[type="text"] {
            width: 336px !important;
            margin-left: auto !important;
            margin-right: 15px !important;
        }

        .row-flex {
            align-items: baseline;

            div.label {
                height: 36px;
            }
        }
    }
}

content.loading {
    #loader {
        display: block;
    }
}

content.authenticating {
    #login-form {
        display: block;
    }
}

content.retrying {
    #retry-form {
        display: block;
    }
}

content.fixing {
    #fix-form {
        display: block;
    }
}

content.viewing {
    #view-form {
        display: block;
    }

    .row {
        > * {
            min-height: @field-min-height-viewing;
            line-height: @field-line-height-viewing;
        }
    }
}

content.creating {
    #create-form {
        display: block;
    }
}

// ==============================================
//                  BUTTONS
// ==============================================

.btn {
    min-width: 90px;
    display: inline-block;
    margin-bottom: 0; // For input.btn
    font-weight: @btn-font-weight;
    text-align: center;
    letter-spacing: .2px;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    box-shadow: none !important;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    .button-size(6px, 12px, 14px, @line-height-base, 3px);

    &,
    &:active,
    &.active {
        &:focus,
        &.focus {
            outline: none;
        }
    }

    &:hover,
    &:focus,
    &.focus {
        color: @btn-default-color;
        text-decoration: none;
    }

    &:active,
    &.active {
        outline: 0;
        background-image: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        cursor: @cursor-disabled;
        opacity: 0.65;
    }
}

.btn-default {
    @color: @btn-default-color;
    @background: @btn-default-bg;
    @background-hover: rgba(0, 0, 0, 0.08);
    @background-pressed: rgba(0, 0, 0, 0.11);
    @border: @btn-default-border;
    @border-hover: rgba(0, 0, 0, 0.1);
    @border-pressed: rgba(0, 0, 0, 0.13);

    color: @color;
    background-color: @background;
    border-color: @border;

    &:focus,
    &.focus {
        color: @color;
        background-color: @background-hover;
        border-color: @border-hover;
    }

    &:hover {
        color: @color;
        background-color: @background-hover;
        border-color: @border-hover;
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: @color;
        background-color: @background-hover;
        border-color: @border-hover;

        &:hover,
        &:focus,
        &.focus {
            color: @color;
            background-color: @background-pressed;
            border-color: @border-pressed;
        }
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus,
        &.focus {
            background-color: @background;
            border-color: @border;
        }
    }
}

.btn-success {
    .button-variant(@btn-success-color, @btn-success-bg, @btn-success-border);
}

.btn-danger {
    .button-variant(@btn-danger-color, @btn-danger-bg, @btn-danger-border);
}

.btn-primary {
    .button-variant(@btn-primary-color, @btn-primary-bg, @btn-primary-border);
}

.btn-full-width {
    width: 100% !important;
}

.btn-link {
    margin: auto;
    padding: 0;
    border: none;
    color: @link-color;
    border-radius: 0;
    background-color: transparent;
    vertical-align: baseline;

    &:hover,
    &:focus {
        color: @link-hover-color;
        text-decoration: none;
    }
}

// ================================================
//                      SELECT2
// ================================================

.select2 {
    width: 100% !important;
}

.select2-selection--multiple {
    min-height: 34px !important;
    padding: 0 0 !important;
    border: none !important;
    border-bottom: 1px solid #e0e0e0 !important;
    border-radius: 0 !important;
    transition: border-color ease-in-out .2s !important;

    .select2-selection__rendered {
        box-sizing: border-box !important;
        display: block !important;
        line-height: 1.42457 !important;
        list-style: none !important;
        margin: 0 !important;
        overflow: hidden !important;
        padding: 0 !important;
        width: 100% !important;
        text-overflow: ellipsis !important;
        white-space: nowrap !important;
    }

    .select2-selection__choice {
        color: @text-color !important;
        background: @btn-default-bg !important;
        border: 1px solid @btn-default-border !important;
        border-radius: 3px !important;
        cursor: default !important;
        float: left !important;
        margin: 5px 0 0 6px !important;
        padding: 0 6px !important;

        .select2-selection__choice__remove {
            float: right !important;
            width: 20px !important;
            text-align: right !important;
        }
    }
    /**
     * Minus 2px borders.
     */
    .select2-search--inline {
        .select2-search__field {
            background: transparent !important;
            padding: 0 0 !important;
            height: 32px;
            line-height: 1.42457 !important;
            margin-top: 0 !important;
            min-width: 5em;
            font-family: @font-family;
            .placeholder;
        }
    }
}

.select2-selection__rendered .select2-selection__placeholder {
    color: @input-color-placeholder !important;
}

.select2-container--focus,
.select2-container--open {
    .select2-selection {
        border-color: @accent !important;
    }
}

.select2-container--open {
    &.select2-container--below {
        .select2-selection {
            border-bottom-color: transparent !important;
        }
    }
}

.select2-container--open .select2-dropdown--below {
    border-top: 1px solid rgba(0, 0, 0, 0.15) !important;
    border-top-left-radius: @border-raduis !important;
    border-top-right-radius: @border-raduis !important;
}

.select2-dropdown {
    border-color: rgba(0, 0, 0, 0.15) !important;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175) !important;
    overflow-x: hidden;
}

.select2-dropdown .select2-dropdown--below {
    border: 1px solid @border-color !important;
    border-radius: @border-raduis !important;
}

.select2-results > .select2-results__options {
    max-height: 118px !important;
}

.select2-selection--single {
    height: 34px !important;
    padding: 6px 0 !important;
    border: none !important;
    border-bottom: 1px solid #e0e0e0 !important;
    border-radius: 0 !important;
    transition: border-color ease-in-out .2s !important;

    &:focus {
        border-bottom: 2px solid @accent !important;
        outline: 0 !important;
        padding: 6px 0 5px 0 !important;
    }

    .select2-selection__rendered {
        color: @text-color;
        padding-left: 0 !important;
        line-height: @line-height-base !important;
        .placeholder;
    }

    .select2-selection__arrow {
        height: 31px !important;
    }
}

.select2-results__option {

    &[role=group] {
        padding: 0 !important;
    }

    &[aria-disabled=true] {
        color: @dropdown-link-disabled-color !important;
        cursor: @cursor-disabled !important;
    }
    /**
         * Hover state.
         */
    &[aria-selected=true] {
        background-color: lighten(#eee, 3%) !important;
        color: #555 !important;
    }
    /**
         * Selected state.
         */
    &--highlighted[aria-selected] {
        background-color: lighten(#eee, 3%) !important;
        color: #555 !important;
    }
}

// =================================================
//                      MIXINS
// =================================================

.button-variant(@color, @background, @border) {
    color: @color;
    background-color: @background;
    border-color: @border;

    &:focus,
    &.focus {
        color: @color;
        background-color: darken(@background, 5%);
        border-color: darken(@border, 5%);
    }

    &:hover {
        color: @color;
        background-color: darken(@background, 5%);
        border-color: darken(@border, 5%);
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle {
        color: @color;
        background-color: darken(@background, 5%);
        border-color: darken(@border, 5%);

        &:hover,
        &:focus,
        &.focus {
            color: @color;
            background-color: darken(@background, 10%);
            border-color: darken(@border, 10%);
        }
    }

    &:active,
    &.active,
    .open > &.dropdown-toggle {
        background-image: none;
    }

    &.disabled,
    &[disabled],
    fieldset[disabled] & {
        &:hover,
        &:focus,
        &.focus {
            background-color: @background;
            border-color: @border;
        }
    }
}

.button-size(@padding-vertical, @padding-horizontal, @font-size, @line-height, @border-radius) {
    padding: @padding-vertical @padding-horizontal;
    font-size: @font-size;
    line-height: @line-height;
    border-radius: @border-radius;
}

.placeholder {

    &::-moz-placeholder {
        color: @input-color-placeholder !important;
        opacity: 1; // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526
    }

    &:-ms-input-placeholder {
        color: @input-color-placeholder !important;
    }

    &::-webkit-input-placeholder {
        color: @input-color-placeholder !important;
    }
}

.flex-container {
    display: flex !important;
    flex-flow: row nowrap;
    align-items: center;
}

.flex-container-with-overflow {
    &:extend(.flex-container);

    > .avatar-image {
        margin-right: 3px !important;
    }

    > * {
        flex-grow: 0;
        flex-shrink: 0;
    }

    > .text-overflow {
        flex-grow: 1;
        flex-shrink: 1;
    }
}

.dropdown() {
    position: relative;

    a {
        text-decoration: none;
        color: inherit;
    }

    .dropdown-toggle {
        display: table;
        height: inherit;
        outline: none;
        cursor: pointer;

        > * {
            display: table-cell;
            vertical-align: middle;
        }

        .fa {
            margin-left: @margin;
        }
    }

    .dropdown-menu {
        position: absolute;
        right: 0;
        left: 0;
        margin: 0;
        border: 1px solid @btn-default-border;
        padding-top: @margin;
        padding-bottom: @margin;
        background: #fff;
        z-index: 1;
        overflow: hidden;
        overflow-y: auto;

        .dropdown-menu-item {
            display: block;
            width: 100%;
            height: 2em;
            line-height: 2em;
            margin: 0;
            border: none;
            outline: none;
            padding-left: @margin-double;
            padding-right: @margin-double;
            background-color: inherit;
            color: inherit;
            font: inherit;
            cursor: pointer;
            white-space: nowrap;
            text-align: left;
            text-overflow: ellipsis;
            overflow: hidden;

            &:hover {
                background-color: rgba(0, 0, 0, 0.05);
            }

            &:active,
            &:focus {
                background-color: rgba(0, 0, 0, 0.05);
            }
        }
    }

    &:not(.open) {
        .dropdown-menu {
            display: none;
        }
    }
}

.dropdown-colors(@default-bg, @default-color, @hover-bg, @hover-color, @active-bg, @active-color, @item-hover-bg, @item-hover-color) {
    background-color: @default-bg;

    .dropdown-toggle {
        background-color: inherit;
        color: inherit;

        &:hover {
            background-color: @hover-bg;
            color: @hover-color;
        }

        &:active,
        &:focus {
            background-color: @active-bg;
            color: @active-color;
        }
    }

    .dropdown-menu {
        background-color: @active-bg;

        .dropdown-menu-item {
            color: inherit;

            &:hover {
                background-color: @item-hover-bg;
                color: @item-hover-color;
            }

            &:active,
            &:focus {
                color: @active-color;
            }

            &.selected {
                color: @active-color;
            }
        }
    }

    &.open {
        .dropdown-toggle {
            background-color: @active-bg;
            color: @active-color;
        }
    }
}