@background-color: #fff;
@background-color-dark: darken(@background-color, 50%);
@background-color-light: lighten(@background-color, 50%);
@border-width: 0.1em;
@border-style: solid;
@border-color: #aaa;
@border-raduis: 0.25em;
@color: #444;
@color-dark: darken(@color, 50%);
@color-light: lighten(@color, 50%);
@font-family: "Open Sans", Helvetica, Arial, sans-serif;
@font-size: 14px;
@margin: 0.5em;
@margin-large: 2.5em;
@margin-small: 0.1em;
@margin-double: @margin * 2;
@margin-half: @margin / 2;
@padding: 0.5em;
@padding-large: 2.5em;
@padding-small: 0.1em;
@padding-double: @padding * 2;
@padding-half: @padding / 2;

@body-width: 20em;
@body-height: 25em;

@input-background-color: @background-color-light;
@input-color: @color;
@input-button-background-color: @color-light;
@input-button-color: @background-color-light;

@field-min-height: 2.5em;
@field-line-height: 2.5em;

@field-min-height-viewing: 1.2em;
@field-line-height-viewing: 1.2em;

@login-button-color: #67809f;
@retry-button-color: #67809f;
@fix-button-color: #67809f;
@start-button-color: #44b6ae;
@stop-button-color: #e26a6a;
@save-button-color: #67809f;

@dropdown-max-height: 8em;

@border: @border-width @border-style @border-color;

@error-color: #A94442;
@error-background-color: #F2DEDE;
@error-border-color: #EBCCD1;
@warning-color: #8A6D3B;
@warning-background-color: #FCF8E3;
@warning-border-color: #FAEBCC;
@info-color: #8A6D3B;
@info-background-color: #FCF8E3;
@info-border-color: #FAEBCC;

body {
    width: @body-width;
    min-width: @body-width;
    height: auto;
    min-height: initial;
    margin: auto;
    padding: @padding-double;
    font-family: @font-family;
    font-size: @font-size;
    color: @color;
    background-color: @background-color;
    overflow: hidden;
}

header {
    margin: 0;
    text-align: center;
}

.message {
    display: none;
    margin: (2 * @margin-double) 0;
    border: @border;
    border-radius: @border-raduis;
    padding: @padding;
    text-align: center;

    &.error {
        display: block;
        color: @error-color;
        background-color: @error-background-color;
        border-color: @error-border-color;
    }

    &.warning {
        display: block;
        color: @warning-color;
        background-color: @warning-background-color;
        border-color: @warning-border-color;
    }

    &.info {
        display: block;
        color: @info-color;
        background-color: @info-background-color;
        border-color: @info-border-color;
    }

    > * {
        margin: @margin-double 0;
        white-space: pre-wrap;
    }

    > .text {
        font-weight: bold;
    }
}

.row {
    margin: @margin-double 0;
    word-wrap: break-word;

    > * {
        width: 100%;
        box-sizing: border-box;
        line-height: @field-line-height;
        min-height: @field-min-height;
    }

    .label, .id {
        margin: 0 @margin 0 0;
    }

    &.title {
        .label {
            font-size: large;
            line-height: initial;
            min-height: initial;
        }
    }

    &.task {
        .id {
            .link {
                margin: 0;
            }
        }
    }

    &.project, &.tags {
        .label {
            color: @color-light;
        }
    }

    .value, .name, .items {
        width: auto;
        margin: 0;
    }

    .link {
        text-decoration: none;
        margin: 0 @margin;
        color: #00bdf3;
    }

    .link:last-child {
        margin: 0 0 0 @margin;
    }

    .link:first-child {
        margin: 0 @margin 0 0;
    }

    .link:hover {
        color: #0082a7;
    }

    input {
        color: @input-color;
        background-color: @input-background-color;
    }

    .input {
        border: @border;
        border-radius: @border-raduis;
        padding: 0 @padding;
        font-family: @font-family;
        font-size: @font-size;
        color: @input-color;
        background-color: @input-background-color;
    }

    .input[type=button] {
        border: 0;
        color: @input-button-color;
        background-color: @input-button-background-color;
        cursor: pointer;
    }

    .button-states(@color) {
        background-color: @color;

        &:hover {
            background-color: darken(@color, 10%);
        }

        &:active {
            background-color: darken(@color, 20%);
        }
    }

    &.actions {
        margin: @margin-large + @margin-double 0 @margin-large 0;

        #login {
            .button-states(@login-button-color);
        }

        #retry {
            .button-states(@retry-button-color);
        }

        #fix {
            .button-states(@fix-button-color);
        }

        #start {
            .button-states(@start-button-color);
        }

        #stop {
            .button-states(@stop-button-color);
        }

        #save {
            .button-states(@save-button-color);
        }
    }
}

#loader {
    text-align: center;
}

// states

content {
    #loader {
        display: none;
    }

    #login-form {
        display: none;
    }

    #retry-form {
        display: none;
    }

    #fix-form {
        display: none;
    }

    #view-form {
        display: none;
    }

    #create-form {
        display: none;
    }
}

content.loading {
    #loader {
        display: block;
    }
}

content.authenticating {
    #login-form {
        display: block;
    }
}

content.retrying {
    #retry-form {
        display: block;
    }
}

content.fixing {
    #fix-form {
        display: block;
    }
}

content.viewing {
    #view-form {
        display: block;
    }

    .row {
        > * {
            min-height: @field-min-height-viewing;
            line-height: @field-line-height-viewing;
        }
    }

    .row.actions {
        > * {
            min-height: @field-min-height;
            line-height: @field-line-height;
        }
    }
}

content.creating {
    #create-form {
        display: block;
    }
}

// select2 styles

.select2 {
    width: 100% !important;
    box-sizing: border-box !important;

    .select2-selection {
        border: @border !important;
        border-radius: @border-raduis !important;
        height: unset !important;
        min-height: unset !important;
        line-height: unset !important;

        * {
            height: unset !important;
            min-height: unset !important;
            line-height: unset !important;
        }

        .select2-selection__rendered, .select2-selection__arrow {
            display: block !important;
            min-height: @field-min-height !important;
            line-height: @field-line-height !important;
        }

        @multiselect-container-padding: @padding-small;
        @multiselect-tag-margin: @margin-small;
        @multiselect-search-margin: @margin - @multiselect-container-padding - @multiselect-tag-margin;

        ul.select2-selection__rendered {
            padding: @multiselect-container-padding !important;

            .select2-selection__choice, .select2-search {
                box-sizing: border-box !important;
                margin: @multiselect-tag-margin !important;
                padding: 0 @padding-half !important;
                height: (@field-min-height - 2 * @margin-small - 2 * @padding-small) !important;
                line-height: (@field-min-height - 2 * @margin-small - 2 * @padding-small) !important;
            }

            .select2-search {
                padding: 0 !important;

                .select2-search__field {
                    margin: 0 @multiselect-search-margin !important;
                }
            }
        }
    }
}

.select2-results__options {
    max-height: @dropdown-max-height !important;
}