body {
    min-width: 600px;
    min-height: 300px;
}

form {
    label {
        font-weight: bold;
        display: block;
    }

    .form-control {
        display: block;
        width: 80%;
    }
}