.devart-timer-link {
    text-decoration: none;
}

.devart-timer-link-icon {
    padding-right: 3px;
    display: inline-block;
    vertical-align: middle;
}

.devart-timer-link-start > .devart-timer-link-icon:before {
    content: data-uri('images/start16.png');
}

.devart-timer-link-stop > .devart-timer-link-icon:before {
    content: data-uri('images/stop16.png');
}

.devart-timer-link-tfs {
    float: left;
    line-height: 32px;
    padding-right: 10px;
}

.devart-timer-link-bitbucket {
    margin-right: 10px;
}

.devart-timer-link-pivotaltracker {
    margin-top: 1em;
}

.devart-timer-link-div.asana {
    margin: 1em 30px 0 30px;
}