.devart-timer-link {
    text-decoration: none;
}

.devart-timer-link > img {
    vertical-align: middle;
    margin-right: 3px;
}

.devart-timer-link-start > img {
    content: data-uri('images/start16.png');
}

.devart-timer-link-stop > img {
    content: data-uri('images/stop16.png');
}
