.devart-timer-link {
    text-decoration: none;
    white-space: nowrap !important;
}

.devart-timer-link-minimal {
    width: auto !important;

    .devart-timer-link-icon ~ span {
        display: none;
    }
}

.devart-timer-link-text-only {
    .devart-timer-link-icon {
        display: none !important;
    }
}

.devart-timer-link-icon {
    margin: -2px 0 !important;
    padding-right: 3px !important;
    display: inline-block !important;
    vertical-align: middle !important;

    &:before {
        display: inline-block !important;
        width: 16px !important;
        height: 16px !important;
        background-size: 16px 16px !important;
        content: "" !important;
    }

    .devart-timer-link-start > &:before {
        background-image: data-uri('src/images/start.png') !important;
    }

    .devart-timer-link-stop > &:before {
        background-image: data-uri('src/images/stop.png') !important;
    }

    .devart-timer-link-minimal.devart-timer-link-start > &:before {
        background-image: data-uri('src/images/simple_start.png') !important;
    }

    .devart-timer-link-minimal.devart-timer-link-stop > &:before {
        background-image: data-uri('src/images/simple_stop.png') !important;
    }
}

.devart-timer-link-asana {
    margin: 1em 0;
}

.devart-timer-link-asana-subtask {
    &.devart-timer-link-minimal {
        opacity: 0;

        .ItemRow:hover &:hover {
            opacity: 1;
        }

        .ItemRow:hover &:not(:hover) {
            opacity: .54;
        }
    }
}

.devart-timer-link-assembla {
    margin-top: 1em !important;
}

.devart-timer-link-axosoft {
    float: right;
    margin-top: 10px;
}

.devart-timer-link-bitbucket {
    margin-right: 10px;
}

.devart-timer-link-bugzilla {
    margin: 0 0.5em;
    font-weight: normal;
    font-size: smaller;
}

.devart-timer-link-freshdesk {
    a:hover {
        text-decoration: none;
    }
}

.devart-timer-link-google-mail {
    margin-left: 15px;
    font-size: smaller;
    color: rgb(114, 114, 114);
}

.devart-timer-link-google-calendar-detailed {
    margin-left: 30px;
    margin-top: -2px;
    margin-bottom: 10px;
}

.devart-timer-link-google-calendar-popup {
    margin-right: 10px;
}

.devart-timer-link-google-calendar-popup-modern {
    display: inline;
    align-self: center;
    margin-right: 10px;
    border-radius: 5px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.4);
    z-index: 0;

    span {
        color: #3c4043;
    }
}

.devart-timer-link-google-inbox {
    opacity: 1 !important;
}

.devart-timer-link-google-keep-item {
    position: absolute;
    top: 8px;
    right: 32px;
    opacity: 0;

    .CmABtb.RNfche:hover &:hover {
        opacity: 1;
    }

    .CmABtb.RNfche:hover &:not(:hover) {
        opacity: .54;
    }
}

.devart-timer-link-google-keep-note {
    margin: 0px 8px;

    .devart-timer-link-icon {
        vertical-align: top !important;
        margin-top: 7px !important;
    }
}

.devart-timer-link-openproject {
    .devart-timer-link-icon {
        line-height: 1 !important;
    }
}

.devart-timer-link-pipedrive {
    margin-top: 4px !important;
    margin-right: 8px !important;

    .devart-timer-link-icon {
        line-height: 1 !important;
    }
}

.devart-timer-link-openproject-container {
    margin-top: 20px !important;
}

.devart-timer-link-pivotaltracker {
    margin-top: 1em;
}

.devart-timer-link-podio {
    width: auto !important;
    margin-top: 1px !important;
}

.devart-timer-link-producteev {
    margin: 0 1em;
}

.devart-timer-link-producteev-minimal {
    position: absolute;
    top: 5px;
    right: 20px;
    opacity: 0;

    .subtasks-list li:hover &:hover {
        opacity: 1;
    }

    .subtasks-list li:hover &:not(:hover) {
        opacity: .5;
    }
}

.devart-timer-link-sprintly {
    > a {
        display: block;
        padding: 7px;
    }

    &:hover > a {
        color: #fff !important;
    }
}

.devart-timer-link-teamwork {
    margin-left: 7px;

    > a {
        width: auto !important;
        transform: scale(1) !important;
        font-size: 13px !important;
        margin-right: 10px !important;
    }

    .taskRHS & > .devart-timer-link-start {
        display: none !important;
    }

    .taskRHS:hover & > .devart-timer-link-start {
        display: initial !important;
    }
}

.devart-timer-link-teamwork-desk-task {
    .task-row &.devart-timer-link-start {
        display: none !important;
    }

    .task-row:hover &.devart-timer-link-start {
        display: initial !important;
    }
}

.devart-timer-link-teamwork-desk-ticket {
    margin-top: 1em;
}

.devart-timer-link-tfs {
    float: left;
    line-height: 32px;
    padding-right: 10px;
}

.devart-timer-link-todoist {

    .task_item &,
    .task_list_item & {
        margin-right: 1em;
    }

    .task_item &.devart-timer-link-start,
    .task_list_item &.devart-timer-link-start {
        visibility: hidden !important;
    }

    .task_item:hover &.devart-timer-link-start,
    .task_list_item:hover &.devart-timer-link-start {
        visibility: visible !important;
    }

    .item_overview & {
        text-decoration: none;

        .devart-timer-link-icon {
            align-self: center;
            margin: 0 !important;
            line-height: 1 !important;
        }
    }
}

.devart-timer-link-trac {
    margin-left: 0.5em;
    margin-right: 0.5em;
    float: right;
}

.devart-timer-link-trello.devart-timer-link-minimal {
    margin-top: 3px;
    margin-left: 3px;
    opacity: 0;

    .checklist-item:hover &,
    &.devart-timer-link-stop {
        opacity: 1;
    }
}

.devart-timer-link-test-rail {
    padding: 0px 10px !important;

    .devart-timer-link-icon {
        line-height: 10px !important;
    }
}

.devart-timer-link-wrike {
    font-size: 14px !important;
    margin-top: 10px !important;
    margin-right: 12px !important;
}

.devart-timer-link-youtrack {
    font-size: 13px;
}

.devart-timer-link-zendesk {
    margin-top: 5px;
    float: right;
}

.devart-timer-link-zoho-project {
    float: right;
    font-weight: normal;
    margin-right: 10px;
}

.devart-timer-link-jira-next {
    margin-left: 8px;
}

.devart-timer-link-clickup {
    .task__toolbar & {
        margin-right: 1rem;
    }

    .task-todo-item &.devart-timer-link-start,
    .checklist-todo-item &.devart-timer-link-start {
        visibility: hidden !important;
    }

    .task-todo-item:hover &.devart-timer-link-start,
    .checklist-todo-item:hover &.devart-timer-link-start {
        visibility: visible !important;
    }
}

.devart-timer-link-microsoft-office-live {
    color: inherit;
    display: inline-block;
    padding: 1rem;
    vertical-align: top;
}

.devart-timer-link-microsoft-outlook-live {
    margin: 0 0.5rem;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    color: inherit;

    .devart-timer-link-icon {
        margin: 4px 0 0 0 !important;
    }
}

.devart-timer-link-easy-redmine {
    display: inline-block;
    margin-bottom: 1rem;
}

.devart-timer-link-evernote {
    display: flex;
    font-size: 14px;

    .devart-timer-link {
        align-items: center;
        display: flex;
        padding: 0 7px 2px 2px;
    }
}

.devart-timer-link-monday-slide-panel {
    margin: 0 20px !important;

    .devart-timer-link-icon {
        vertical-align: bottom !important;
    }
}

.devart-timer-link-monday-icon {
    padding: 0 4px;
    font-size: 20px;
    opacity: 0.54;

    &:hover {
        opacity: 1;
    }
}

.devart-timer-link-monday-card-dialog {
    margin-right: 8px;

    .devart-timer-link-icon {
        vertical-align: bottom !important;
    }
}

.devart-timer-link-microsoft-todo {
    opacity: 0.54;
    margin: 0 10px;

    &:hover {
        opacity: 1;
    }
}

.devart-timer-link-microsoft-todo-details {
    .devart-timer-link-icon {
        margin-left: 8px !important;
        margin-right: 12px !important;
    }
}

.devart-timer-link-hubspot-li {
    margin-top: 10px;
    margin-bottom: 10px;
    display: block !important;
}

.devart-timer-link-zenhub {
    align-items: flex-end !important;
}

.devart-timer-link-notion {
    cursor: pointer !important;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 14px;
    line-height: 1.2;
    align-items: center !important;
    display: inline-flex;
    border-radius: 3px;

    &:hover {
        background: rgba(55, 53, 47, 0.08);
    }

    .devart-timer-link-icon {
        margin-top: 2px !important;
    }
}