@font-face {
    font-family: 'tmetricicons';
    src: url('../fonts/tmetricicons.eot?ee4t87');
    src: url('../fonts/tmetricicons.eot?ee4t87#iefix') format('embedded-opentype'), url('../fonts/tmetricicons.ttf?ee4t87') format('truetype'), url('../fonts/tmetricicons.woff?ee4t87') format('woff'), url('../fonts/tmetricicons.svg?ee4t87#tmetricicons') format('svg');
    font-weight: normal;
    font-style: normal;
}

.fa {
    display: inline-block;
    font: normal normal normal 20px/1 TMetricIcons;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.fa-spin {
    -webkit-animation: fa-spin 2s infinite linear;
    animation: fa-spin 2s infinite linear;
}

@-webkit-keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes fa-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.fa-angle-down:before {
    content: "\e900";
}

.fa-angle-right:before {
    content: "\e901";
}

.fa-time-duration:before {
    content: "\e902";
}

.fa-calendar:before {
    content: "\e903";
}

.fa-check:before {
    content: "\e904";
}

.fa-chevron-left:before {
    content: "\e905";
}

.fa-chevron-right:before {
    content: "\e906";
}

.fa-time-start:before {
    content: "\e907";
}

.fa-time-end:before {
    content: "\e908";
}

.fa-dollar:before {
    content: "\e909";
}

.fa-ellipsis-h:before {
    content: "\e90a";
}

.fa-external-link:before {
    content: "\e90b";
}

.fa-info-circle:before {
    content: "\e90c";
}

.fa-play:before {
    content: "\e90d";
}

.fa-plus:before {
    content: "\e90e";
}

.fa-question-circle:before {
    content: "\e90f";
}

.fa-refresh:before {
    content: "\e910";
}

.fa-search:before {
    content: "\e911";
}

.fa-sort:before {
    content: "\e912";
}

.fa-sort-amount-asc:before {
    content: "\e913";
}

.fa-sort-amount-desc:before {
    content: "\e914";
}

.fa-sort-asc:before {
    content: "\e915";
}

.fa-sort-desc:before {
    content: "\e916";
}

.fa-star:before {
    content: "\e917";
}

.fa-stop:before {
    content: "\e918";
}

.fa-tag:before {
    content: "\e919";
}

.fa-tasks:before {
    content: "\e91a";
}

.fa-check-circle-o:before {
    content: "\e91b";
}

.fa-thumbs-up:before {
    content: "\e91c";
}

.fa-times:before {
    content: "\e91d";
}

.fa-circle-o-notch:before {
    content: "\e91e";
}

.fa-user:before {
    content: "\e91f";
}

.fa-users:before {
    content: "\e920";
}

.fa-exclamation-circle:before {
    content: "\e921";
}

.fa-angle-up:before {
    content: "\e922";
}

.fa-trash:before {
    content: "\e923";
}

.fa-list:before {
    content: "\e924";
}

.fa-task:before {
    content: "\e925";
}

.fa-check-circle:before {
    content: "\e926";
}

.fa-checkbox:before {
    content: "\e927";
}

.fa-checkbox-checked:before {
    content: "\e928";
}

.fa-checkbox-undefined:before {
    content: "\e929";
}

.fa-lock:before {
    content: "\e92a";
}

.fa-gear:before {
    content: "\e92b";
}

.fa-worktype:before {
    content: "\e92c";
}

.fa-ring:before {
    content: "\e92d";
}
